body {
    display: grid;
    grid grid-template-columns: 1fr 30px;
}


main {
    margin: 0 auto;
    display: grid;
    width: 1000px;
    grid-template-columns: 20% 1fr 15%;
    background: hsl(0, 50%, 50%);
    display: grid;
    padding: 5px;
}


#nav-left,
#center,
#nav-right {
    background: hsl(70, 50%, 75%);
    padding: 5px;
}

#center {
    display: grid;
    grid-template-rows: 30px 1fr;
}

#center-header,
#center-content {
    background: hsl(140, 50%, 75%);
    padding: 5px;
}

#center-content {
    display: grid;
    grid-template-columns: 35% 40% 25%;
}

#community,
#services,
#for-sale,
#gigs {
    display: grid;
    grid-template-columns: 50% 50%;
}

#discussion-forums {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

footer {
    background: hsl(0, 50%, 50%);
    height: 30px;
}

footer ul li {
    display: inline;
}